<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="JustCreate.JustCreatePackage" genModel="model/JustCreate.genmodel" uri="platform:/plugin/JustCreate/model/JustCreate.ecore"/>
  </extension>
</plugin>
